@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(217, 12%, 63%);
  --gray: hsl(216, 12%, 54%);
  --blue: rgb(27, 33, 42);
  --darkblue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkblue);
  font-size: 15px;
  max-width: 100vw;
  color: var(--gray);
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}
h2,
h1 {
  padding: 0;
  margin: 0;
}
p {
  line-height: 1.5;
}
